extends layout

block content
  h1= title 
  - var results = [{"name": "Elizabeth I", "age": 87, "place": "England"}, {"name": "Mary Tudor", "age": 47, "place": "France"}, {"name": "Lakshmi Bai", "age": 56, "place": "India"}]
    div(class = 'container-fluid')
        div(class = 'row')
            each i,j in results 
                div(class="col-sm-2", onClick=`buy(${j})`) Name : #{i["name"]} <br> Age : #{i["age"]} <br> Place : #{i["place"]}
                script.
                  function buy(val) {
                    alert(`You purchased item ${val}`)
                  } 